@font-face{
    src: url(font/BalsamiqSans-Regular.ttf);
    font-family: batangas;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #02081B;
    color: white;
    position: relative;
    font-family: batangas;
    font-weight: bold;
}

.container-sk{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 150px;
}

.kumpulan-logo{
    width: 200px;
    height: 230px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.gambar-logo-sk{
    width: 60%;
    border-radius: 50%;
    border: 3px solid #53C0B9;
}

.tulisan-suka-koding,.tls-suka-koding{
    margin-top: 20px;
    text-decoration: none;
    color: #53C0B9;
    display: flex;
    font-size: 30px;
    transition: all ease 0.5s;
}

.tulisan-suka-koding:hover{
    color: white;
}

.kotak-support-sk{
    width: 75%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kotak-check{
    display: none;
    transition: all ease 1s;
}

.isi-kotak-support-sk,.kumpulan-pendiri-sk{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    text-align: center;
    padding-right: 20px;
    font-size: 20px;
    box-sizing: border-box;
    justify-content: center;
    border: 1.9px solid #53C0B9;
    border-radius: 3px;
    margin-bottom: 15px;
    text-decoration: none;
    color:#53C0B9;
    cursor: pointer;
    transition: all ease .5s;
}

.kumpulan-pendiri-sk{
    height: 0px;
    justify-content: space-evenly;
    margin-top: -45px;
    background:  #53C0B9;
    opacity: 0;
    transition: all linear 0.5s;
    padding-bottom: 15px;
    overflow: hidden;
    padding-top: 15px;
    position: relative;
}

.pendiri-sk{
    display: flex;
    visibility: hidden;
    text-decoration: none;
    color: #ffffff;
    width: 130%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.pendiri-sk:hover{
    background:  #4baca5;
}

.label-isi-kotak-support-sk{
    flex-direction: row;
    position: relative;
    color: white;
    background:  #53C0B9;
    z-index: 100;
}

.arrow-down{
    width: 20px;
    position: absolute;
    right: 25px;
    transition: all ease .5s;
}

.kotak-check:checked ~ .kumpulan-pendiri-sk{
    height: 250px;
    opacity: 1;
    margin-top: -5px;
    transition: all ease 1s;
}

.kotak-check:checked ~ .kumpulan-pendiri-sk > .pendiri-sk{
    visibility: visible;
    transition: visibility ease .1s .3s;
}

.kotak-check:checked + .label-isi-kotak-support-sk > .arrow-down{
    transform: rotate(180deg);
    filter: brightness(0%);
}

.label-isi-kotak-support-sk:hover > .arrow-down{
    filter: brightness(0%);
}

.kotak-check:checked + .label-isi-kotak-support-sk,.label-isi-kotak-support-sk:hover,.isi-kotak-support-sk:hover{
    background:  #53C0B9;
    color: #02081B;
}

@media screen and (max-width: 680px) {
    .kotak-support-sk{
        width: 90%;
    }
}

@media screen and (max-width: 570px) {
    .label-isi-kotak-support-sk{
        padding-left: 75px;
        padding-right: 75px;
    }

}

@media screen and (max-width: 400px) {
    .arrow-down{
        right: 15px;
    }
    .label-isi-kotak-support-sk{
        padding-left: 20px;
        padding-right: 60px;
    }
}